@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.ttf');
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Variable.ttf');
}
:root {
  --bg-color: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  font-family: 'Outfit';
  color: white;
}

h1 {
  z-index: 99;

  font-family: 'Chillax';
  pointer-events: none;
  line-height: 1rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 2rem 0;
}

h3 {
  font-size: 2rem;
}

p {
  max-width: 60rem;
  font-size: 1.5rem;
  color: rgb(163, 163, 163);
  font-weight: 300;
}

.main-wrapper {
  margin: 0 5%;
}

.evervault-cards {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

hr {
  border-top-width: 1px;
  border-color: rgb(73, 73, 73);
  margin: 3rem 0;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
}
