@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.ttf');
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Variable.ttf');
}
:root {
  --bg-color: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  font-family: 'Outfit';
  color: white;
}

h1 {
  z-index: 99;

  font-family: 'Chillax';
  pointer-events: none;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 3rem;
  font-weight: 300;
}

p {
  max-width: 60rem;
  font-size: 1.5rem;
}

.main-wrapper {
  margin: 0 5%;
}
