.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  gap: 5rem;
}

input,
textarea {
  background-color: var(--bg-color);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;

  width: 100%;
  transition: border 0.3s ease-in-out;
  display: block;
}

input {
  border-bottom: 1px #4b4b4b solid;
  margin-bottom: 1.5rem;
}

textarea {
  border-bottom: 1px #4b4b4b solid;
  min-height: 2rem;
}

textarea:focus,
input:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: rgb(186, 186, 186);
}

form {
  max-width: 35rem;
  font-weight: 300;
  width: 100%;
}
label {
  color: white;
  font-size: 1.5rem;
}

.contact-phrase {
  font-size: 3.2rem;
  color: #474747;
  font-family: 'chillax';
  font-weight: 500;
}

.message-label {
  margin-bottom: 0.2rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-icon {
  color: #c9c9c9;
}

.submit-btn {
  transition: box-shadow 0.1s ease-in-out;
}

/* .submit-btn:active {
  box-shadow: inset 0 0 0 2px #35635e;
} */

.submit-btn:hover .submit-icon {
  color: #c2fede;
}

@media (max-width: 1300px) {
  .contact-phrase {
    display: none;
  }
}

/* button {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Chillax';
  border: 1px solid gray;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}

button:hover {
  border: 1px solid #35635e;
} */
