nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
  /* position: absolute; */
  top: 0;
  z-index: 100;
}

.logo {
  font-family: 'Chillax';
  font-size: 2rem;
}

.nav-right {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
