nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0 0;

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  /* background: linear-gradient(var(--bg-color), #1e1e1e00); */
  backdrop-filter: blur(7px);
}

.logo {
  font-family: 'Chillax';
  font-size: 2rem;
  margin-left: 2rem;
}

.nav-right {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
  margin-right: 2rem;
  font-weight: 300;
}

@media (max-width: 800px) {
  .nav-right {
    font-size: 0.9rem;
    margin-right: 1rem;
  }
  .logo {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
